#barramenu {
    background-color:rgb(8, 226, 19) !important;
}

.textomenu{
    color:white !important;
    font-weight: 1000 !important;
    font-size: 20px !important;
}

.colorf{
    padding: 20px;
}

nav{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    margin: 0px;
}